@model IEnumerable<Travel_Experts.Package>

@{
    ViewData["Title"] = "Travel Experts";
}



<div class="text-center">
    <h1>Popular Packages</h1>
</div>



<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            if(item.PkgAgencyCommission > 0)
                {

                
                    <div class="col">
                        <div class="card mb-3" style="width:300px">
                            <h3 class="card-header" style="height:75px">@Html.DisplayFor(modelItem => item.PkgName)</h3>
                            <div class="card-body">
                                @*<h5 class="card-title">Special title treatment</h5>*@
                                @*<h6 class="card-subtitle text-muted" style="height:100px">@Html.DisplayFor(modelItem => item.PkgDesc)</h6>*@

                   
                            </div>
                            <a asp-controller="Packages" asp-action="Details" asp-route-id=@item.PackageId>
                                <img src="~/images/@item.PkgImageLocation"  width="300" height="200"/>
                            </a>
                            @*<div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>*@
                            <!--<ul class="list-group list-group-flush">-->
                                @*<li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li*@ <!--class="list-group-item">Vestibulum at eros</li>
                            </ul>-->
                            @*<div class="card-body">
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>*@
                            <div class="card-footer text-muted" style="text-align:center;">
                          
                                $@Html.DisplayFor(modelItem => item.PkgBasePrice)
                            </div>
                        </div>
                    </div>
            }
        }
    </div>
</div>

